<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="shadow-lg rounded">
        <div class="card my-5">
          <div class="card-body">
            <h3 class="card-title text-center">My Profile</h3><br>
            <form>
              <div class="form-label-group">
                <div class="row">
                  <div class=col-md-2><label for="username">USERNAME</label></div>
                  <div class="col-md-4">
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username 123"
                      readonly>
                  </div>
                </div>
              </div><br>
              <div class="form-label-group">
                <div class="row">
                  <div class="col-md-2"><label for="password">PASSWORD</label></div>
                  <div class="col-md-4">
                    <button class="btn btn-primary" id="ChangePasswordBtn">Change Password</button>
                    <!-- <input type="password" id="password" name="password" class="form-control" required> -->
                  </div>
                  <!-- <div class="col-md-2"><label for="retypePW">RETYPE PASSWORD</label></div>
                  <div class="col-md-4">
                    <input type="password" id="retypePW" name="retypePW" class="form-control" required>
                  </div> -->
                </div>
              </div>
              <hr class="my-4">
              <div class="form-label-group">
                <div class="row">
                  <div class="col-md-2"><label for="firstname">FIRSTNAME</label></div>
                  <div class="col-md-4">
                    <input type="text" id="firstname" name="firstname" class="form-control" placeholder="John" readonly>
                  </div>
                  <div class=col-md-2><label for="postalcode">POSTAL CODE</label></div>
                  <div class="col-md-4">
                    <input type="text" id="postalcode" name="postalcode" class="form-control" placeholder="M3J3M6">
                  </div>
                </div>
              </div><br>
              <div class="form-label-group">
                <div class="row">
                  <div class="col-md-2"><label for="lastname">LASTNAME</label></div>
                  <div class="col-md-4">
                    <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Doe" readonly>
                  </div>
                  <div class="col-md-2"><label for="phoneNum">PHONE#</label></div>
                  <div class="col-md-4">
                    <input type="tel" id="phoneNum" name="phoneNum" class="form-control" placeholder="4164915050">
                  </div>
                </div>
              </div><br>
              <div class="form-label-group">
                <div class="row">
                  <div class="col-md-2"><label for="email">EMAIL</label></div>
                  <div class="col-md-6">
                    <input type="email" id="email" name="email" class="form-control" placeholder="john.doe99@email.com">
                  </div>
                </div>
              </div><br>
              <div class="text-center">
                <button class="btn btn-lg btn-primary text-uppercase" type="submit">&emsp;&emsp;Submit&emsp;&emsp;</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
