<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="shadow-lg rounded">
        <div class="card my-5">
          <div class="card-body">
            <h4 class="card-title">Forgot Username</h4>
            <p>Please enter your registered email address</p>
            <form>
              <div class="form-label-group">
                <div class="row">
                  <div class=col-md-2><label for="email">EMAIL</label></div>
                  <div class="col-md-7">
                    <input type="email" id="email" name="email" class="form-control">
                  </div>
                  <div class="col-md-3">
                    <button class="btn btn-md btn-primary text-uppercase" type="submit">&emsp;Submit&emsp;</button>
                  </div>
                </div>
              </div>
            </form>
            <form>
              <br>
              <hr class="my-4">
              <h4 class="card-title">Forgot Password</h4>
              <p>Please enter your registered username and email address</p>
              <div class="form-label-group">
                <div class="row">
                  <div class=col-md-2><label for="username">USERNAME</label></div>
                  <div class="col-md-7">
                    <input type="text" id="username" name="username" class="form-control">
                  </div>
                </div><br>
                <div class="row">
                  <div class=col-md-2><label for="email">EMAIL</label></div>
                  <div class="col-md-7">
                    <input type="email" id="email" name="email" class="form-control">
                  </div>
                  <div class="col-md-3">
                    <button class="btn btn-md btn-primary text-uppercase" type="submit">&emsp;Submit&emsp;</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>